.container#page-introduccion

    .header-ecored
        h1 3. Materias primas e insumos para dotación hospitalaria

    .jumbotron.bg-white  

      .row
        .col-12
          p Reconocer las materias primas e insumos a utilizar en la confección de elementos de uso hospitalario es un requisito indispensable para cumplir con las normas técnicas colombianas.
          p Este tipo de producto debe cumplir la función de ser barrera de contención bacteriana o biológica, además de presentar durabilidad, resistencia y comodidad en cada uno de los momentos de uso.
          p Se presentan a continuación los materiales requeridos para la confección de batas y overoles.

      .row.justify-content-center.align-items-center
        .col.col-lg-9.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema3/info_01.svg", alt="").img-fluid